body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #1d1d1d;
    color: #fff;
}

nav {
    background-color: #333;
    padding: 10px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}

.hero {
    text-align: center;
    padding: 50px 20px;
}

.hero .logo {
    width: 150px;
    height: auto;
}

h1 {
    font-size: 3em;
}

h2 {
    font-size: 2em;
    text-align: center;
}

section {
    padding: 30px 10%;
    margin: 20px 0;
}

#about {
    background-color: #333;
}

#events {
    background-color: #444;
}

#contact form {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    margin: 0 auto;
}

#contact label {
    margin-top: 10px;
}

#contact input,
#contact textarea {
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

#contact button {
    background-color: #1f8a70;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    margin-top: 10px;
}

footer {
    text-align: center;
    background-color: #333;
    padding: 20px;
    position: fixed;
    width: 100%;
    bottom: 0;
}
